<div class="
    fixed
    inset-0
    left-0
    top-0
    md:w-96 
    h-40
    m-auto
    shadow-xl
    modal-animation
    flex
    flex-col
    overflow-hidden
    z-10 bg-default rounded-md border-2">
    <h3 class="text-center text-2xl">Etes-vous sur ?</h3>
    <p class="text-center mt-5">Attention, cette action est irréversible.</p>
    <div class="m-auto mb-1">
        <button (click)="onConfirm()"
            class="rounded-md bg-green-600 py-1 px-2 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-green-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
            type="button">
            Oui
        </button>
        <button (click)="onCancel()"
            class="rounded-md bg-red-600 py-1 px-2 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
            type="button">
            Non
        </button>

    </div>
</div>