@defer (hydrate on interaction) {
<div class="flex md:flex-row flex-col  items-center m-2 gap-2">
    <button (click)="scrollToBottom()" routerLink="/admin/users/create" type="button"
        class="px-2 py-2 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm   dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Ajouter
        un utilisateur</button>
    <input #searchInput
        class="bg-default  px-2 py-2 focus:ring-2 focus:ring-gray-800 focus:outline-none text-white rounded-lg"
        type="search" placeholder="Pseudo ...">
    <button type="button" (click)="filterByUsername(searchInput.value)"
        class="text-white  md:my-0 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-1 px-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Rechercher</button>
</div>
}
<div class="relative overflow-x-auto mx-20">
    <table class="w-full text-sm text-center rtl:text-right text-white">
        <thead class="text-xs uppercase text-center">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Nom d'utilisateur
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @for (user of users$ | async; track user.id) {

            <tr class="border-b">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
                    {{user.id}}
                </th>
                <td class="px-6 py-4">
                    {{user.username}}
                </td>
                @defer (hydrate on interaction) {
                <td class="px-6 py-4 text-sm">
                    <button type="button" (click)="onShowDeleteConfirmationModal(user.id)"
                        class="focus:outline-none my-2 md:my-0 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm py-1 px-2 me-2  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Bannir</button>
                    <button (click)="scrollToBottom()" routerLink="/admin/users/{{user.id}}/details"
                        class="text-white my-2 md:my-0 bg-default hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm py-1 px-2 me-2 ml-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">Détails
                        et tâches</button>
                    <button (click)="scrollToBottom()" routerLink="/admin/users/{{user.id}}/edit"
                        class="text-white my-2 md:my-0 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm py-1 px-2 me-2  dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Editer</button>

                </td>
                }
            </tr>

            }
        </tbody>
    </table>
    <button (click)="paginate()"
        class="rounded-md block m-auto my-5 text-sm bg-select py-1 px-3 border border-transparent text-center  text-white transition-all shadow-md hover:shadow-lg focus:bg-onHover focus:shadow-none active:bg-onHover hover:bg-onHover active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none "
        type="button">
        Voir plus
    </button>
</div>
<section class="{{showAnimation() ? 'opacity-100' : 'opacity-0'}}  transition ease-in-out  duration-300">
    <router-outlet />
</section>

<div class="{{showDeleteConfirmationModal() ? 'opacity-100' : 'opacity-0'}}  transition ease-in-out  duration-300">
    @if (showDeleteConfirmationModal()) {
    <app-confirmation-modal (confirm)="onConfirm()" (cancel)="onCancel()" />
    }

</div>