@defer (hydrate on interaction) {
<app-filter (onTitleChange)="filterByTitle($event)" (onStatusChange)="filterByStatus($event)" />

}
<section class="flex flex-wrap justify-center gap-2 mt-5">

    @for (task of filteredTasks(); track $index) {
    <app-task [task]="task"></app-task>

    }
</section>
<button (click)="paginate()"
    class="rounded-md block m-auto my-5 text-sm bg-select py-1 px-3 border border-transparent text-center  text-white transition-all shadow-md hover:shadow-lg focus:bg-onHover focus:shadow-none active:bg-onHover hover:bg-onHover active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none "
    type="button">
    Voir plus
</button>