<fieldset class="mt-6">
    <label class="mr-3">Priorité</label>
    <span (click)="onChange(0)" [class.border-2]="selectedPriority() === 0"
        [class.border-white]="selectedPriority() === 0"
        class="bg-green-100 text-green-800 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 cursor-pointer">Basse</span>
    <span (click)="onChange(1)" [class.border-2]="selectedPriority() === 1"
        [class.border-white]="selectedPriority() === 1"
        class="bg-yellow-100 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-400 dark:text-yellow-100 cursor-pointer">Moyenne</span>
    <span (click)="onChange(2)" [class.border-2]="selectedPriority() === 2"
        [class.border-white]="selectedPriority() === 2"
        class="bg-red-100 text-red-800 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 cursor-pointer">Haute</span>
</fieldset>