@defer (hydrate on interaction) {
<div class="flex text-white items-center p-5 gap-2 ml-16">
    <button data-ripple-dark="true" (click)="filterByStatus(true)" class="py-1 px-3 rounded-xl bg-green-500">Terminée
        ?</button>
    <button (click)="filterByStatus(false)" class="py-1 px-3 rounded-xl bg-red-500">En cours ?</button>
    <button (click)="filterByStatus(null)" class="py-1 px-3 rounded-xl bg-blue-500">Toutes</button>
    <input #searchInput (input)="filterByTitle(searchInput.value)"
        class="bg-default focus:ring-2 focus:ring-gray-800 focus:outline-none text-white  rounded-lg p-1" type="search"
        placeholder="Ranger la chambre ...">
</div>

}
<section class="flex flex-wrap justify-center gap-2 mt-5">

    @for (task of filteredTasks(); track $index) {
    <app-task [task]="task"></app-task>

    }
</section>
<button (click)="paginate()"
    class="rounded-md block m-auto my-5 text-sm bg-select py-1 px-3 border border-transparent text-center  text-white transition-all shadow-md hover:shadow-lg focus:bg-onHover focus:shadow-none active:bg-onHover hover:bg-onHover active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none "
    type="button">
    Voir plus
</button>