<div class="m-auto text-2xl md:text-4xl  text-white">
    <div class="py-10 bg-default rounded-md shadow-xl w-56 md:w-96  mt-10 m-auto ">
        <h2 class="text-center">Choisissez un rôle</h2>
        <div class="flex gap-10 justify-center mt-5">
            <div class="inline-flex items-center">
                <input (change)="onRoleChange('admin')" id="admin" type="radio" value="admin" name="role"
                    class="peer h-5 w-5 text-purple-700 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all">
                <label for="admin" class="ms-2 text-sm font-medium text-white">Admin</label>
            </div>

            <div class="inline-flex items-center">
                <input (change)="onRoleChange('user')" id="user" type="radio" value="user" name="role"
                    class="peer h-5 w-5 text-purple-700 cursor-pointer appearance-none rounded-full border border-slate-300 checked:border-slate-400 transition-all">
                <label for="user" class="ms-2 text-sm font-medium text-white">Utilisateur</label>
            </div>
        </div>

    </div>

    <div
        class="{{role() ? 'opacity-100 translate-y-0' : 'opacity-0 -translate-y-10'}} transition ease-in-out delay-150 py-10 bg-select w-56 md:w-96  m-auto mt-10 rounded-md shadow-xl  mb-5">
        @if (role()) {
        <h4 class=" text-center mb-5">Nom d'utilisateur</h4>

        <div class="mx-10">
            <input #username (input)="onUsernameChange(username.value)"
                class="w-full bg-transparent placeholder:text-white placeholder:opacity-50 text-white text-sm border border-white rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-white hover:border-white shadow-sm focus:shadow"
                placeholder="John Doe ...">
        </div>

        }
    </div>
    <div
        class="{{username() !== '' ? 'opacity-100': 'opacity-0'}} transition ease-in-out delay-150 w-56 md:w-96 m-auto flex items-center">
        @if (username() !== '') {
        <button (click)="onStart()"
            class="text-sm md:text-xl   m-auto w-52 bg-default py-2 px-3 hover:bg-onHover rounded-md shadow-xl transition ease-in duration-150 hover:-translate-y-1 ">Commencer</button>
        }

    </div>
</div>