<div class="m-auto text-white">
    <div class="py-10 bg-default rounded-md shadow-xl w-96 m-auto mt-10">
        <h2 class=" text-4xl text-center">Choisissez un rôle</h2>
        <div class="flex gap-10 justify-center mt-5">
            <div class="inline-flex items-center">
                <input (change)="onRoleChange('admin')" id="admin" type="radio" value="admin" name="role"
                    class="w-4 h-4 text-purple-700 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="admin" class="ms-2 text-sm font-medium text-white">Admin</label>
            </div>

            <div class="inline-flex items-center">
                <input (change)="onRoleChange('user')" id="user" type="radio" value="user" name="role"
                    class="w-4 h-4 text-purple-700 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="user" class="ms-2 text-sm font-medium text-white">Utilisateur</label>
            </div>
        </div>

    </div>

    <div
        class="{{role() ? 'opacity-100 translate-y-0' : 'opacity-0 -translate-y-10'}} transition ease-in-out delay-150 py-10 bg-select w-96 m-auto mt-10 rounded-md shadow-xl  mb-5">
        @if (role()) {
        <h4 class="text-4xl text-center mb-5">Liste des utilisateurs</h4>

        <div class="mx-10">
            <input #username (input)="onUsernameChange(username.value)"
                class="w-full bg-transparent placeholder:text-white placeholder:opacity-50 text-white text-sm border border-white rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-white hover:border-white shadow-sm focus:shadow"
                placeholder="John Doe ...">
        </div>

        }
    </div>
    <div
        class="{{username() !== '' ? 'opacity-100': 'opacity-0'}} transition ease-in-out delay-150 w-96 m-auto flex items-center">
        @if (username() !== '') {
        <button (click)="onStart()"
            class="m-auto w-52 bg-default py-2 px-3 hover:bg-onHover rounded-md shadow-xl transition ease-in duration-150 hover:-translate-y-1 ">Commencer</button>
        }

    </div>
</div>