<nav class="flex flex-col xl:flex-row items-center  border-b-4 border-b-purple-700 text-sm ">
    <h1 routerLink="/" class="cursor-pointer text-start font-bold text-white text-2xl xl:text-4xl p-10"><img
            class="inline" src="favicon.ico" alt="">
        Angular v19 Test
    </h1>
    @if (currentUser()) {
    <ul class="p-2 xl:p-0 flex items-center justify-center m-auto xl:ml-1 xl:gap-5 gap-2 text-white text-center">
        <li class=""><a routerLink="/">Home</a></li>
        <li><a routerLink="/task/list">Liste des tâches</a></li>
        <li><a routerLink="/task/my-tasks">Mes tâches</a></li>
        <li><a routerLink="/task/create">Ajouter une tâche à ma liste</a></li>
        @if (role() === "admin") {
        <li><a routerLink="/admin">Dashboard Admin</a></li>
        }

    </ul>
    }
    @if (currentUser()) {
    <div class="xl:mr-2 my-2 xl:my-0 m-auto flex items-center justify-center">
        <h4 class="text-white ">Bonjour {{currentUser()?.username}}</h4>
        <button (click)="onDisconnect()"
            class="rounded-md bg-default py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-onHover focus:shadow-none active:bg-onHover hover:bg-onHover active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2"
            type="button">
            Déconnection
        </button>
    </div>
    }
</nav>