<div class="fixed
inset-0
left-0
top-0
md:h-[600px]
md:w-96
m-auto
shadow-xl
modal-animation
overflow-hidden
text-center
z-10 bg-default rounded-md">
    <div class=" mt-1 text-right border-b border-b-purple-700 pb-1">
        <button type="button" (click)="closeFilter()"
            class="bg-white rounded-md p-2 mr-1 inline-flex items-center justify-center text-black hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
            <span class="sr-only text-xl">Close menu</span>
            <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>

    </div>
    <div class="flex flex-col text-white items-center  gap-2 mt-3">
        <label class="text-xl">Status</label>
        <div class="flex gap-1">
            <button (click)="filterByStatus(null)" [class.border-2]="selectedStatus() === null"
                class="py-1 px-3 rounded-xl bg-blue-500">Toutes</button>
            <button data-ripple-dark="true" [class.border-2]="selectedStatus() === true" (click)="filterByStatus(true)"
                class="py-1 px-3 rounded-xl bg-green-500 ">Terminée
                ?</button>
            <button (click)="filterByStatus(false)" [class.border-2]="selectedStatus() === false"
                class="py-1 px-3 rounded-xl bg-red-500 ">En cours ?</button>

        </div>
        <label class="text-xl">Priorité</label>
        <div>
            <span (click)="filterByPriority('all')" [class.border-2]="prioritySelected() === 'all'"
                class="bg-blue-100 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-400 dark:text-blue-100 cursor-pointer">Toutes</span>
            <span (click)="filterByPriority('0')" [class.border-2]="prioritySelected() === '0'"
                class="bg-green-100 text-green-800 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300 cursor-pointer">Basse</span>
            <span (click)="filterByPriority('1')" [class.border-2]="prioritySelected() === '1'"
                class="bg-yellow-100 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-400 dark:text-yellow-100 cursor-pointer">Moyenne</span>
            <span (click)="filterByPriority('2')" [class.border-2]="prioritySelected() === '2'"
                class="bg-red-100 text-red-800 font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 cursor-pointer">Haute</span>
        </div>


        <select [(ngModel)]="dateAsc" #dateOrder (change)="filterByDateAsc(dateOrder.value)" id="dateOrder"
            class=" border w-44 border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 bg-default dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option value="asc">Du plus récent</option>
            <option value="desc">Du plus ancien</option>


        </select>
        <input [(ngModel)]="title" #searchInput (input)="filterByTitle(searchInput.value)"
            class="bg-default focus:ring-2 focus:ring-gray-800 focus:outline-none text-white  rounded-lg p-1"
            type="search" placeholder="Ranger la chambre ...">

    </div>

    <label class="flex items-center justify-center p-2 text-xl" for="creationDatePicker">Ajouté après le </label>
    <div class="relative mx-10">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
        </div>
        <input [(ngModel)]="selectedCreationDate" #creationDate (changeDate)="filterByCreationDate(creationDate.value)"
            datepicker id="creationDatePicker" type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="07/07/2014..." />
    </div>
    <label class="flex items-center justify-center p-2 text-xl" for="creationDatePicker">Clôturé avant le </label>

    <div class="relative mx-10">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 20">
                <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
            </svg>
        </div>
        <input [(ngModel)]="selectedClosingDate" #closingDate (changeDate)="filterByClosingDate(closingDate.value)"
            datepicker id="closingDatePicker" type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="25/01/2025...">
    </div>

    <button class="py-1 px-3 rounded-lg bg-red-500 my-2" (click)="resetFilter()">Remettre à 0</button>

</div>