@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "lato";
    src: url(/assets/fonts/Lato-Regular.ttf) format("truetype");
  }
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(17, 17, 17);
  color: white;
}
